.resumeUploader {
  .uploadArea {
    width: 100%;
    height: 84px;
    justify-content: center;
    align-items: center;
    border: 1px dotted #979797;
    border-radius: 3px;
    margin-bottom: 15px;
    .sumitResume {
      color: #3c99d8;
      cursor: pointer;
    }
  }
}
